.social-proof {
  padding-bottom: 150px;

  &__video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    background-color: $bg-dark;
    border-radius: 15px;
    padding: 24px;
    margin-bottom: 150px;

    &-content {
      max-width: 500px;
    }

    &-title {
      font-weight: 900;
      font-size: 46px;
      line-height: 54px;
      color: #fff;
      margin-bottom: 20px;
    }

    &-text {
      font-size: 18px;
      line-height: 28px;
      color: #fff;
      margin-bottom: 10px;
    }

    &-name {
      display: block;
      font-size: 18px;
      line-height: 28px;
      font-style: normal;
      color: #fff;
      margin-bottom: 20px;
    }

    &-logo {
      display: block;
      width: 76px;
      height: 46px;
    }

    &-player {
      max-width: 608px;
      height: 395px;
      border-radius: 15px;
      overflow: hidden;
      position: relative;
      background-color: $bg-light;

      img {
        display: block;
        height: 100%;
        object-fit: contain;
      }
    }

    &-play-button {
      width: 54px;
      height: 55px;
      background-image: url('../img/social-proof/play-icon.svg');
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-avatar {
      display: block;
      width: 75px;
      height: 75px;
      border-radius: 10px;
      margin-bottom: 15px;
    }

    &-title {
      margin-bottom: 20px;
    }

    &-subtitle {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 80px;
    }

    &-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      gap: 20px;
      list-style: none;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 22px;
      border-radius:  15px;
      box-shadow: 0 0 10px rgba(156, 160, 172, 0.4)
    }

    &-name {
      flex: 0 0 auto;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 15px;
    }

    &-rate {
      display: flex;
      justify-content: space-between;
      width: 120px;
      margin-bottom: 15px;

      img {
        display: block;
        width: 20px;
        height: 20px;
      }
    }

    &-text {
      flex: 1 0 auto;
      line-height: 25px;
      margin-bottom: 50px;
    }

    &-date {
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 14px;
      color: $text-muted;

      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-image: url('../img/icons/google.svg');
        margin-right: 10px;
      }
    }
  }
}
